<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link href="{{ url_for('Static', path='/style.css') }}" rel="stylesheet">
  <link rel="stylesheet" href="../Static/style.css"> 
  <title>BBB GEX Explorer</title>
</head>

<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky">
 <div class="container-fluid">
   <a class="navbar-brand" href=""><h1><p class="text-primary">BBB Data Repository</p></h1></a>
   <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
     <span class="navbar-toggler-icon"></span>
   </button>
   <div class="collapse navbar-collapse" id="navbarColor01">
     <ul class="navbar-nav me-auto">
       <!-- add navbar items here -->
       <li class="nav-item px-5">
         <a class="nav-link" href="/">Homepage</a>
       </li>
       <li class="nav-item px-5">
         <a class="nav-link active" href="/RNASeq">RNA-Seq
          <span class="visually-hidden">(current)</span>
         </a>
       </li>
       <li class="nav-item px-5">
         <a class="nav-link" href="#">Section 2</a>
       </li>
       <li class="nav-item px-5">
         <a class="nav-link" href="#">Section 3</a>
       </li>
     </ul>
   </div>
 </div>
</nav>

<body>




  <!-- Metadata -->
  <div class="container-fluid p-4">
    <div class="row">
      <h1>Methods</h1>
      <br>
      <p>Vestibulum pretium metus aliquam tortor dapibus, non vestibulum lorem accumsan. Vestibulum interdum tortor vitae nisl laoreet, in interdum lacus consequat. In tempor dolor at nulla dictum, quis pretium metus euismod. Nam feugiat sit amet enim vitae blandit. Integer facilisis justo at velit pharetra ultricies. Sed eu lectus non felis blandit sagittis. Ut hendrerit non dolor id aliquam. Pellentesque consequat nisi vel eros rhoncus, eget consectetur metus rhoncus. In sed neque mollis, rhoncus turpis in, feugiat felis. Quisque posuere euismod consequat. Praesent vitae ante et lacus vehicula fringilla in ac ligula. Morbi nec suscipit tortor. Sed aliquet lorem quam, et molestie nisl vulputate ac. Donec faucibus ligula vel hendrerit sollicitudin. In hac habitasse platea dictumst.</p>
    </div>
    <br>
    <div class="row">
      <h1>Contents</h1>
      <br>
      <p>Vestibulum pretium metus aliquam tortor dapibus, non vestibulum lorem accumsan. Vestibulum interdum tortor vitae nisl laoreet, in interdum lacus consequat. In tempor dolor at nulla dictum, quis pretium metus euismod. Nam feugiat sit amet enim vitae blandit. Integer facilisis justo at velit pharetra ultricies. Sed eu lectus non felis blandit sagittis. Ut hendrerit non dolor id aliquam. Pellentesque consequat nisi vel eros rhoncus, eget consectetur metus rhoncus. In sed neque mollis, rhoncus turpis in, feugiat felis. Quisque posuere euismod consequat. Praesent vitae ante et lacus vehicula fringilla in ac ligula. Morbi nec suscipit tortor. Sed aliquet lorem quam, et molestie nisl vulputate ac. Donec faucibus ligula vel hendrerit sollicitudin. In hac habitasse platea dictumst.</p>
    </div>
    <br>
  </div>


  <!-- Genetable -->
  <div class="container-fluid p-4">
    <table class="table table-hover center">
      <thead>
        <tr>
          <th scope="col"><p class="text-info">Ensembl ID</p></th>
          <th scope="col"><p class="text-info">Gene Symbol</p></th>
          <th scope="col"><p class="text-info">Rank p-val</p></th>
          <th scope="col"><p class="text-info">Mean Perfusion Score</p></th>
          {% if exmode == "DESeq2" or exmode == "Wilcox" %}
          <th scope="col"><p class="text-info">Top in Bootstrap?</p></th>
          {% endif %}

          {% if exmode == "All" %}
          <th scope="col"><p class="text-info">Top in DESeq2 Aggregate?</p></th>
          <th scope="col"><p class="text-info">Top in DESeq2 Bootstrap?</p></th>
          <th scope="col"><p class="text-info">Top in WRST Aggregate?</p></th>
          <th scope="col"><p class="text-info">Top in WRST Bootstrap?</p></th>
          <th scope="col"><p class="text-info">Protein Evidence?</p></th>
          {% endif %}

          {% if exmode == "DESeq2 Validation" or exmode == "Wilcox Validation" %}
          <th scope="col"><p class="text-info">Top in Original?</p></th>
          {% endif %}

          <th scope="col"><p class="text-info">Actions</p></th>

        </tr>
      </thead>
      <tbody>
        {% for key, val in genes_df.iterrows() %}
        <tr class="table-active">
          <th scope="row">{{ val['Name'] }}</th>
          <td> <a href="https://www.ebi.ac.uk/interpro/search/text/{{ val['uniprot'] }}" target="_blank">{{ val['gene_names'] }}</a> </td> 
          <td>{{ val['Score'] }}</td>
          <td>{{ val['Mean Perfusion Score'] }}</td>
          
          <!-- Validation pages -->
          {% if exmode != "All" %}
          
          <td>
            {% if val['Validated'] %}
            &#x2714;
            {% else %} 
            &#x2718;
            {% endif %}
          </td>

          {% endif %}

          <!-- Main page -->
          {% if exmode == "All" %}
          <td>
            {% if val['DESeq2_Appeared'] %}
            &#x2714;
            {% else %} 
            &#x2718;
            {% endif %}
          </td>

          <td>
            {% if val['DESeq2_Validated'] %}
            &#x2714;
            {% else %} 
            &#x2718;
            {% endif %}
          </td>

          <td>
            {% if val['Wilcox_Appeared'] %}
            &#x2714;
            {% else %} 
            &#x2718;
            {% endif %}
          </td>

          <td>
            {% if val['Wilcox_Validated'] %}
            &#x2714;
            {% else %} 
            &#x2718;
            {% endif %}
          </td>

          <td>
            {% if val['Prot_Evidence'] %}
            &#x2714;
            {% else %} 
            &#x2718;
            {% endif %}
          </td>

          {% endif %}
          <td>
            <a href="/RNASeq/plots/counts/{{ val['Name'] }}" class="btn btn-primary">Counts</a>
            <a href="/RNASeq/plots/barplot/{{ val['Name'] }}" class="btn btn-primary">Summed Counts</a>
            <a href="/RNASeq/plots/intravar/{{ val['Name'] }}" class="btn btn-primary">Brain Intravariance</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>




    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>